* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    color: #FFFFFF !important;
    width: 100vw;
}

header .logo h1 {
  color: #A5A5A6;
}

header a {
  text-decoration: none;
  color: #A5A5A6;

}
.header-border {
  border-bottom: 0.0625rem solid #ffe200;
}
header img {
    width: 80px;
    margin: 10px;
    
}

.logo {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

header nav ul {
    display: flex;
    list-style: none;
    
    
}

header nav ul li {
    margin-top: 20px;
    margin-right: 55px;
    list-style: none;
    text-transform: uppercase;
}
